extends layout

block title
	title MC | Home

block content
	.jumbotron
		h1 MultiCloud
		p.lead MultiCloud is a a scheduler web application developed to manage diferent cloud providers.
		p
			a.btn.btn-lg.btn-success(href="#", role="button") About us

	.row
		.col-lg-4
			h2 Safari bug warning!
			p.text-danger Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a nisi elementum, tincidunt nulla et, pellentesque turpis. Mauris sed est dictum, elementum mi eget, hendrerit magna. Mauris justo est, vestibulum in luctus id, sodales id purus. Vivamus viverra metus vitae ullamcorper viverra.
			p Nam magna lacus, vestibulum id porta eget, placerat in risus. Donec eu dictum nulla, eu mattis magna. Proin luctus luctus arcu, sed porttitor sapien porttitor et. Praesent porta sapien id elit volutpat, eget ornare magna lacinia. Proin bibendum dolor nisl, sed rhoncus leo blandit id. Praesent tincidunt malesuada iaculis.

		.col-lg-4
			h2 Heading
			p Vestibulum feugiat congue sapien. Vivamus ante lorem, maximus vitae nisl in, venenatis dignissim tortor. Sed euismod ac ipsum eu semper. Aenean id luctus justo. Mauris posuere, ante a mollis fringilla, dui arcu tincidunt dolor, in rutrum arcu metus at risus.
			p
				a.btn.btn-primary(href="#" role="button") View details »
