//- layout.jade
doctype html
html(lang='en')
	head
	meta(charset='utf-8')
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='MultiCloud is a a scheduler web application developed to manage diferent cloud providers')

	block title
		title Multicloud

	link(rel="stylesheet", href="css/bootstrap.min.css")

	//if lt IE 9
body
	.container
		.masthead
			h3.text-muted MultiCloud
		nav
			ul.nav.nav-justified
				li.active
					a(href="#") Home
				li
					a(href="#") Opennebula
				li
					a(href="#") OpenStack
				li
					a(href="#") About us
				li
					a(href="#") Contact

		block content
		

		footer.footer
			p © 2016 University of Castilla - La Mancha.


	script(src='js/jquery-2.2.0.min.js')
	script(src="js/bootstrap.min.js")